.admin-buttons {

}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {

}

.akten-management {

}

.system-management {

}

.user-management {

}
